.video-container {
  background-color: black;
  width: 300px;
  height: 300px;
  margin-right: auto;
  display: inline-block;
  z-index: 1;
  position: relative;
}
.container {
  text-align: center;
}

.rectangle {
  border: 1px solid green;
  position: absolute;
  z-index: 2;
}

.peer-camera {
  border: 1px solid red;
  position: absolute;
  z-index: 3;
  top: 5px;
  width: 30%;
  height: 30%;
  right: 2px;
}
