<div class="container">
  <div class="video-container" #subscriber>
    <video #videoElement width="300" height="300" autoplay playsinline>
      This browser does not support video
    </video>

    <div
      class="rectangle"
      #rectangle
      [ngStyle]="{
        top: rectangleDimensions.top + 'px',
        left: rectangleDimensions.left + 'px',
        height: rectangleDimensions.height + 'px',
        width: rectangleDimensions.width + 'px'
      }"
    ></div>
    <div class="peer-camera" #publisher></div>
    <app-subscriber [videoElem]="video"></app-subscriber>
  </div>
</div>

<div class="container-buttons">
  <button (click)="incrementTop()">++ Top</button>
  <button (click)="incrementBottom()">++ Bottom</button>
  <button (click)="incrementRight()">++ Right</button>
  <button (click)="incrementLeft()">++ Left</button>
</div>
